.App {
  text-align: center;
  display: flex;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: greenyellow;
}

.is-done {
  opacity: 0.5;
}